extends layout.jade

block content
	:markdown
		Welcome to Herf.io!  Herf.io started out as the cigar auction tracking
		system known as bidhistory last year.  As usage of BidHistory grew we
		had extended beyond the original codebase and have switched to a more
		flexible system to not only handle bid tracking and analytics, but also
		lay the groundwork for a cloud-based humidor and humidity tracking tool.

		We apologise for the fairly barren homepage at the moment, as the current
		codebase is under a lot of active development and we haven't decided on what
		should go here yet.

		### BidHistory

		This is the auction tracking and analytics tool.  Currently tracking auctions
		from Cigarbid, Cigar Auctioneer, and Cigar Monster, we mine the auctions, price,
		type, etc. and then give you a simple and intuitive interface into that data.

		### HumiTrack

		This is the humidor temperature and humidity tracker.  We rely on a small device
		(such as a Raspberry Pi) to report back the temperature and humidity of the humidor
		and then we provide the analytics and alerting engines here.