html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 2;
	}

body {
	background: #000000;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
	}

h1 {
	color: #666666;
}

h2 {
	color: #666666;
}

h3, h4 {
	color: #666666;
}

h5, h6 {
	color: #6699CC;
}

a {
	color: #9999cc;
}

.price > td {
	background: #000000;
	color: #666666;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 10px;
	}
	
/* form */
form#searchfrm {
		background: #666666;
		margin-left: auto;
		margin-right: auto;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		counter-reset: fieldsets;
		padding: 20px;
		width: 800px;
		}
		form#searchfrm tr td {
			background: #CCCCCC;
			padding: 6px 6px 6px 12px;
		}
		form#searchfrm ol li {
		background: #CCCCCC;
		border: 2px solid #000000;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		line-height: 30px;
		list-style: none;
		padding: 5px 10px;
		margin-bottom: 2px;
		}
					
		form#searchfrm ol ol li {
			background: none;
			border: none;
			float: left;
			}
			form#searchfrm label {
				float: left;
				font-size: 13px;
				width: 210px;
				}
				
			form#searchfrm fieldset fieldset label {
				background:none no-repeat left 50%;
				line-height: 20px;
				padding: 0 0 0 30px;
				width: auto;
				}
					
				form#searchfrm fieldset fieldset label:hover {
					cursor: pointer;
					}
				
			form#searchfrm input:not([type=radio]),
			form#searchfrm textarea {
				background: #ffffff;
				border: none;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				border-radius: 3px;
				font: italic 13px Georgia, "Times New Roman", Times, serif;
				outline: none;
				padding: 5px;
				width: 300px;
				}
					
				form#searchfrm input:not([type=submit]):focus,
				form#searchfrm textarea:focus {
					background: #eaeaea;
					}
					
				form#searchfrm input[type=radio] {
					float: left;
					margin-right: 5px;
					}
						
			form#searchfrm button {
				background: #384313;
				border: none;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				-khtml-border-radius: 20px;
				border-radius: 20px;
				color: #ffffff;
				display: block;
				font: 18px Georgia, "Times New Roman", Times, serif;
				letter-spacing: 1px;
				margin: auto;
				margin-left: auto;
				margin-right: auto;
				padding: 7px 25px;
				text-shadow: 0 1px 1px #000000;
				text-transform: uppercase;
				width:150px;
				}
					
				form#searchfrm button:hover {
					background: #1e2506;
					cursor: pointer;
					}

/* item table */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

.hidden {
	display: none;
}