.table-cell {
    display: table-cell;
    background: #bbb;
}
#search {
    display: block;
    width: 100%;
    background-color: #ddd;
}
#heatmap-placeholder, #trend-placeholder {
	height:200px;
	width: 100%;
	position: relative;
}