{% block active_auctions %}
<button class="btn btn-primary btn-sm" 
		onclick="toggle_visibility('current-auctions');">
	Toggle Open Auctions
</button>
<div class="container" id="current-auctions" style="display: none;">
	<table class="table table-striped">
		<thead>
			<td>Title</td><td>Category</td><td>Site</td>
		</thead>
		<tbody>
			{% for item in auctions %}{% if not item.finished %}
			<tr>
				<td>
					{{ item.name}}
					<span class="pull-right">
						<a class="btn btn-info btn-xs" href="{{ item.link }}">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</a>
					</span>
				</td>
				<td>{{ item.type }}</td>
				<td>{{ item.site }}</td>
			</tr>
			{% endif %}{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}