{% block closed_auctions %}
<div class="container" id="history">
	<table class="table table-striped">
		<thead>
			<td>Title</td><td>Category</td><td>Closed</td><td>Site</td><td>QTY</td><td>Price</td>
		</thead>
		<tbody>
			{% for item in auctions %}{% if item.price and item.finished %}
			<tr>
				<td>
					{{ item.name}}
					<span class="pull-right">
						<a class="btn btn-info btn-xs" href="{{ item.link }}">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</a>
					</span>
				</td>
				<td>{{ item.type }}</td>
				<td>{% if item.finished %}
						{{ item.close.strftime('%Y-%m-%d') }}
					{% else %}
						<span class="label label-danger">OPEN</span>
					{% endif %}
				</td>
				<td>{{ item.site }}</td>
				<td><span class="pull-right">{{ item.quantity }}</span></td>
				<td>{{ '%3.2f' % item.price_per_stick if item.price_per_stick else 'N/A'}}
					<span class="text-muted">
						<small>
							/{{ '%3.2f' % item.price if item.price else 'N/A'}}
						</small>
				</td>
			</tr>
			{% endif %}{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}