<ul class="list-group">
	<li class="list-group-item">
		Best Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['best'] }}
		</span>
	</li>
	<li class="list-group-item">
		Great Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['great'] }}
		</span>
	</li>
	<li class="list-group-item">
		Good Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['good'] }}
		</span>
	</li>
	<li class="list-group-item">
		Average Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['avg'] }}
		</span>
	</li>
	<li class="list-group-item">
		Poor Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['poor'] }}
		</span>
	</li>
	<li class="list-group-item">
		Bad Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['bad'] }}
		</span>
	</li>
	<li class="list-group-item">
		Worst Price Per Stick
		<span class="badge">
			{{ '%3.2f' % stats['worst'] }}
		</span>
	</li>
	<li class="list-group-item">
		Standard Deviation
		<span class="badge">
			{{ '%3.2f' % stats['std_deviation'] }}
		</span>
	</li>
</ul>