{% extends "layout.html" %}

{% set field = request.args.get('sort') or 'close' %}
{% set direction = request.args.get('reversed')|int(default=1) %}

{% block content %}
{% if not auctions %}
<div class="container">
    <div class="jumbotron">
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <input id="search" type="text" name="search" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
        Open Auctions: {{ totals['open'] }} / Archived Auctions: {{ totals['closed'] }}
        {% if search_string %}
        <p>no results for <strong>{{ search_string }}</strong> found.</p>
        {% endif %}
    </div>
    <div class="container">
        <h2>What is BidHistory?</h2>
        <p>BidHistory is a tool designed to provide some statistics and temporal information about Cigar auctions
            across various auction sites.  As BidHistory is early in it's development, it is not feature complete
            and may change over time.  We welcome any input from our users and feel free to file bug reports or
            feature requests on the <a href="http://github/.com/stevemcgrath/bidhistory">GitHub Page</a>.
        </p>
        <h2>How can I use this?</h2>
        <ul>
            <li><strong>Word order doesnt matter</strong> - This means that the searches: <i>"arturo fuente"</i> and 
                <i>"fuente arturo"</i> will yield the same results.  The advantage of handling searches this way is 
                that you aren't forced to remember the exact word order of something to search, and can just keep 
                tacking on words to narrow down the search as you go.
            </li>
            <li><strong>Negative searching</strong> - Are you looking for something and the search is just about there,
                but you want to remove a couple of pesky items?  Well then just prepend a "-" sign to the beginning of
                the word that you don't want to see.  The "-" sign will tell BidHistory to search for items that <i>don't</i>
                have that word, allowing you to continue to narrow down your dataset.
            </li>
            <li><strong>Price Per Stick Computation</strong> - BidHistory attempts to normalize all of the different
                auctions down to a "price per stick" number.  This means that regardless of if its a 5-pack, 10-pack,
                or a box of 24, you can see what the price you would be paying is on a per cigar level.  All of BidHistory's
                analytics are leveraging these numbers to try to make this information as useful as possible.
            </li>
            <li><strong>Filter by Auction Type</strong> - If you desire to only see 5-packs, simply add
                <i>"category=5-pack"</i> to the search string.  Multiple items can be selected using a comma, such as:
                <i>"category=5-pack,10-pack"</i>.
            </li>
            <li><strong>Filter by Auction Site</strong> - Only want to see information from CigarBid?  That is easily done by
                simply adding <i>"site=cigarbid"</i> to the search string.  Multiple can be selected using a comma, like:
                <i>"site=cbid,cigarauctioneer"</i>
            </li>
            <li><strong><a href="https://chrome.google.com/webstore/detail/cigar-price-history/hjbommnhodlfagkpepengkjokfpanpjj">There is a Chrome Plugin!</a></strong> - <a href="https://www.reddit.com/user/mattpassini">Matt Passini</a> from the <a href="https://www.reddit.com/r/cigars">r/cigars</a> community has written a Chrome plugin to embed the statistical information from BidHistory into the various sites.  Check it out!
            </li>
            <li><strong>More to come!</strong> - BidHistory is under active development and features are being tweaked,
                improved, and added all of the time.  If you have a bug report or a feature request, please let us know 
                on the <a href="http://github.com/stevemcgrath/bidhistory">GitHub page</a>.  Further all of the cose is 
                <i>Open Sourced</i> so that you can take a look at how we are doing things.
            </li>
        </ul>
</div>
{% else %}
<div class="container">
    <div class="container" id="analytics">
        <h2>Results for <strong><i>{{ search_string }}</i></strong></h2>
        {% if stats['display'] %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Price Analysis</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        Best Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['best'] }}
                        </span>
                    </li>
                    <li class="list-group-item active">
                        Average Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['avg'] }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Worst Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['worst'] }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Standard Deviation
                        <span class="badge">
                            {{ '%3.2f' % stats['std_deviation'] }}
                        </span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        Great Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['great'] }} -  {{ '%3.2f' % stats['good'] }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Good Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['good'] }} - {{ '%3.2f' % stats['avg'] }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Poor Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['avg'] }} - {{ '%3.2f' % stats['poor'] }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Bad Price Per Stick
                        <span class="badge">
                            {{ '%3.2f' % stats['poor'] }} - {{ '%3.2f' % stats['bad'] }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="container" id="trends">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Price Distribution</h3>
            </div>
            <div class="panel-body">
                <div class="container" id="heatmap-placeholder" style="height:100px;"></div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Price History Trending</h3>
            </div>
            <div class="panel-body">
                <div class="container" id="trend-placeholder" style="height:200px"></div>
            </div>
        </div>
    </div>
    <div class="container" id="current-auctions">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Current Auctions 
                    <button class="btn btn-info btn-xs pull-right" 
                            data-toggle="collapse" 
                            data-target="#open-auctions-view">display
                    </button>
                </h3>
            </div>
            <div class="panel-body" id="open-auctions-view" aria-expanded="false">
                <table class="table table-striped">
                    <thead>
                        <td>Title</td><td>Category</td><td></td><td>Time Left</td>
                    </thead>
                    <tbody>
                        {% for item in auctions %}{% if not item.finished %}
                        <tr onclick="location.href='{{ item.link }}'">
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.type }}
                                {% if item.type and 'pack' not in item.type and 'single' not in item.type and 'sample' not in item.type %}
                                <small>
                                    /{{ item.quantity }}
                                </small>
                                {% endif %}
                            </td>
                            <td><img src="{{ url_for('.static', filename='images/logos/%s.png' % item.site) }}" /></td>
                            <td>{{ '%sd %sh %sm' % item.time_left }}</td>
                        </tr>
                        {% endif %}{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Auction History</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default disabled btn-sm">Sorting Options : </a>
                        <a class="btn btn-sm btn-{% if field == 'name' %}success{% else %}primary{% endif %}" href="{{ url_for('search', search_string=search_string, reversed=direction, sort='name') }}">Auction Name</a>
                        <a class="btn btn-sm btn-{% if field == 'price_per_stick' %}success{% else %}primary{% endif %}" href="{{ url_for('search', search_string=search_string, reversed=direction, sort='price_per_stick') }}">Price Per Stick</a>
                        <a class="btn btn-sm btn-{% if field == 'price' %}success{% else %}primary{% endif %}" href="{{ url_for('search', search_string=search_string, reversed=direction, sort='price') }}">Auction Price</a>
                        <a class="btn btn-sm btn-{% if field == 'close' %}success{% else %}primary{% endif %}" href="{{ url_for('search', search_string=search_string, reversed=direction, sort='close') }}">Close Date</a>
                        <a class="btn btn-sm btn-{% if direction %}success{% else %}primary{% endif %}" href="{{ url_for('search', search_string=search_string, reversed=(not direction)|int, sort=field) }}">Reversed Order</a>
                    </div>
                </div>
                <div class="container" id="history">
                    <table class="table table-striped table-hover">
                        <thead>
                            <td>Title</td><td>Category</td><td>Closed</td><td></td><td>Price</td>
                        </thead>
                        <tbody>
                            {% for item in auctions|sort(attribute=field, reverse=direction) %}{% if item.price and item.finished %}
                            <tr onclick="location.href='{{ item.link }}'">
                                <td>
                                    {{ item.name}}
                                </td>
                                <td>
                                    {{ item.type }}
                                    {% if item.type != None and 'pack' not in item.type and 'single' not in item.type and 'sample' not in item.type %}
                                    <small>
                                        /{{ item.quantity }}
                                    </small>
                                    {% endif %}
                                </td>
                                <td>{{ item.close.strftime('%Y-%m-%d') }}</td>
                                <td><img src="{{ url_for('.static', filename='images/logos/%s.png' % item.site) }}" /></td>
                                <td>
                                    <big>
                                        {{ '%3.2f' % item.price_per_stick if item.price_per_stick else 'N/A'}}
                                    </big>
                                    <span class="text-muted">
                                        <small>
                                            /{{ '%3.2f' % item.price if item.price else 'N/A'}}
                                        </small>
                                    </span>
                                </td>
                            </tr>
                            {% endif %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    (function($) {
        $(function() {
            var trend = {
                color: 'rgba(44, 62, 80, 1)',
                data: {{ stats['trend'] }}
            };
            var heat = {
                color: 'rgba(0, 0, 0, 1)',
                data: {{ stats['heatmap'] }},
                bars: {
                    show: true,
                    barWidth: .1,
                },
            };
            $.plot($("#trend-placeholder"), [trend], {
                xaxis: { mode: "time" },
                series: {lines: {
                    fill: true,
                    fillColor: "rgba(44, 62, 80, 0.6)"
                }},
            });
            $.plot($("#heatmap-placeholder"), [heat], {
                yaxis: {show: false},
                xaxis: {tickDecimals: 2},
                grid: {
                    markings: [
                        {xaxis: {from: {{ stats['great'] }}, to: {{ stats['good'] }}}, color: "#357abd"},
                        {xaxis: {from: {{ stats['good'] }}, to: {{ stats['avg'] }}}, color: "#4cae4c"},
                        {xaxis: {from: {{ stats['avg'] }}, to: {{ stats['poor'] }}}, color: "#fdc431"},
                        {xaxis: {from: {{ stats['poor'] }}, to: {{ stats['bad'] }}}, color: "#ee9336"},
                    ],
                    hoverable: true,
                    autoHighlight: true,
                },
                tooltip: {
                    show: true,
                    content: "Price: %x; Count: %y"

                }
            });
        });
    })(jQuery);
</script>
{% endblock %}