{% extends "layout.html" %}

{% block content %}

{% if not auctions %}
{% block spash_content %}{% endblock %}
{% else %}

<div class="container">
	<div class="container" id="analytics">
		<h2>Results for <strong><i>{{ search_string }}</i></strong></h2>
		{% if stats['display'] %}
			{% block analysis %}{% endblock %}
		{% endif %}
	</div>
	{% block trending %}{% endblock %}
	{% block active_auctions %}{% endblock %}
	{% block closed_auctions %}{% endblock %}
</div>
{% endif %}
{% endblock %}

{% include "splash_content.html" %}
{% include "price_analysis.html" %}
{% include "trending.html" %}
{% include "active_auctions.html" %}
{% include "closed_auctions.html" %}