{% block splash_content %}
<div class="container">
	<div class="jumbotron">
		<h4>Search</h4>
    	<form method="POST" action="/">
    		{{ form.hidden_tag() }}
	        <div class="form-group">
                <input id="search" type="text" name="search" class="form-control" placeholder="Search">
		        <span class="input-group-addon">
		        	<button type="submit" class="btn btn-default">Search</button>
		        </span>
	        </div>
	    </form>
	    {% if search_string %}
	    <p>no results for <strong>{{ search_string }}</strong> found.</p>
	    {% endif %}
	</div>
</div>
{% endblock %}